img{
    width: 100%;
    height: auto;
}

h1{
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    align-content: center;
}

h3{
    color: #ffffff;

}

iframe{
    width: 100%; 
    height: 900px;
}
.rows{
    display: inline-block;
    color: #ffffff;
}

span{
    color: #c7c7c7d3;
}