button {
    background-color: #e50914;
    color: #ffffff;
}

button:hover {
    background-color: #ff9494;
    color: #ffffff;
    cursor: pointer;
}

img {
    width: 100%;
}

h5{
    color: #ffffff;
}
p{
    color: #ffffff;
    font-size: 15px;
}
.rowimg:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.rowimg{
    max-height: 200px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
}
.rowposter {
    display: flex;
    flex-wrap: wrap; 
}