<div class="containt-fluid mt-5 p-5">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="row" style="align-items: center;">
            <div class="mb-3 col-lg-10">
                <input type="text" class="form-control" formControlName="movieName"
                    placeholder="Search Movie Title Here...">
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-md">Search</button>
            </div>
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-lg-4" *ngFor="let r of searchResult">
            <div class="row" *ngIf="r.poster_path">
                <div class="col-lg-3 mt-3 mb-3">
                    <img src="https://image.tmdb.org/t/p/original/{{r.poster_path}}" class="rowimg largeposter"
                        alt="..." [routerLink]="['/',MOVIE_ROUTE,r.id]">
                </div>
                <div class="col-lg-9 mt-4 mb-4">
                    <h5>{{r.original_title || 'Unknown Title'}}</h5>
                    <p>{{r.overview || 'Unknown Description'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- trending Movies -->
<div class="row mt-5">
    <h1 >Trending Movies</h1>
    <div class="col-lg-1 mt-3" *ngFor="let r of trendingMovies">
        <div class="row" *ngIf="r.poster_path">
            <img src="https://image.tmdb.org/t/p/original/{{r.poster_path}}" class="rowimg largeposter" alt="..."
                [routerLink]="['/',MOVIE_ROUTE,r.id]">
                
        </div>
    </div>
</div>